input[type=radio]{
    margin-right: 10px;
    opacity:1!important;
    margin-top: 6px;
    position: relative !important;
    pointer-events: all !important;
}
@media only screen and (max-width: 400px){
    .field-container{
        margin-bottom: 30px;
    }
}
