@import '../../../theme.scss';
.first-section{
    width:100%;
    background: url("../../../images/backgroundHomePC.png") no-repeat center;
    background-size: cover;
    .logo-home{
        position: absolute;
        right: 2%;
        bottom: 5%;
        img{
            width:70%;
        }
    }
}

@media only screen and(max-width: 600px){
    .first-section{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .logo-mobile{
            text-align:center;
            img{
                width:60%;
            }
        }
        .pedirIcon-mobile{
            text-align:center;
            img{
                width:55%;
            }
        }
    }
}
