@import '../../../../theme.scss';
.container{
    width: 70%;
    .card-panel{
        display: flex;
        flex-direction: column;
        &.card-summary{
            padding: 10px 10px;
        }
        .summary{
            font-size: 13px;
            tr{
                &.summary-details{
                    background-color: #fafafa;
                    
                   font-weight: 400;
             
                }
                &.end-summary{
                    border-top: 1px solid #d0d0d0;
                }
                
            }
            th,td{
                padding: 8px 5px;    
                &:first-child{
                    text-align: left;
                }
                text-align: right;
            }
        }
        &.card-panel-payment{
            padding: 0;
            button:focus{
                background-color: $primary;
                color:white;
            }
            .card-body{
                height:200px;
            }
            .card-title{
                display: flex;
                align-items: center;
                justify-content: center;
                width:100%;
                height: 40px;
                border-bottom: 1px solid #ddd;
             }
        }
       
        #cash-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 30%;
            input[type=text]{
                text-align: center;
            }
        }
        #pago-online{
            display:none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .mercadopago-logo{
                height: 100px;
            }
        }

    }
 
}

@media only screen and (max-width: 400px){
    .container{
        .row{
            margin:0;
        }
    }
}