
.success-section{
    text-align: center;
   
    h3{
        color:white;
    }
    .space-between{
        height: 200px;
    }
}



@media only screen and (max-width: 992px){

    .success-section{
        h3{
            color:black;
        }
        .space-between{
            height:55px;
        }
    }
}