.second-section{
        &.section{
               z-index: 10;
                height:auto!important;
                width:100%;
                background-color: black;
                position: relative;
        }
        .container{
                width:100%;
        }
        #location-nav{
                position:relative;
        }
     
    }
@media only screen and (max-width: 600px){
        .second-section{
                
                &.section{
                        
                        background-color: #fff;             
                }
                #location-nav{
                        margin-top: 10%;
                }
        } 
}