@import '../../theme.scss';
.page-footer{
    background-color: #3a3939;
    position: absolute;
    width: 100%;
    p{
        a{
            color:white;
        text-align: center;
        }
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media{
       
        li{
            float: left;
            margin: 10px;
        }
        .social-svg{
            width: 70%!important;
            height: 70%!important;
        }
        .social-svg-mask{
            fill: rgb(255, 255, 255) !important;
           
        }
    }
   
}