@import '../../../../theme.scss';
@import '../../../../mixins.scss';

@media screen and (min-width:400px) and (max-width: 1400px){
    .second-section{
        .container{
            width: 100%;
        }
        .food-section{
            .summary-panel{
                width:25%;
                right:0;
            }
        }
      
    }
}

@media screen and (max-width:400px){
    .second-section{
        .container{
            width: 100%;
        }
        .food-section{
            .summary-panel{
                &.active{
                    display: block;
                }
                right:0;
                display: none;
                top:50px;
                width:100%;
            }
        }
       
    }
}

@media screen and (min-width: 1400px){
    .second-section{
    
        .summary-panel{
            font-size: 13px;
            position: fixed;
            width:20%;
            right:15%;
            top: 20%

        }
    }
}
