@import '../../../../../theme.scss';
@import '../../../../../mixins.scss';

.second-section{
    .food-list{
    padding-top:10%;
    height: 100%;
    }

    .menu-detail{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left:0%;
        margin-right:0%
    }
    .card{
        width:238px;
        .card-reveal{
            font-size: 13px;
            padding:0;
            opacity:0.9;
            .card-title{
                padding: 15px 15px 0px 20px;
            }
        }
        .foodImgPpal{
            @include foodSprite(url('../../../../../images/TequeArepasEmpanadasPatacones.png'));
        }

        .foodImgSecond{
            @include foodSprite(url('../../../../../images/QuesillosArepasQuesos.png'));
        }   
        .extras,
        .tequenos{
            @include  foodPosition(0%);
            @media(max-width:900px) {
                @include foodPosition(4%);
            }
        }
        
        .arepa-maiz{
            @include foodPosition(33.33%);
        }
        .arepa-trigo,
        .empanadas{
            @include foodPosition(66.7%);
            @media(max-width:900px) {
                @include foodPosition(65%);
            }
        }
        .patacon{
            @include foodPosition(100%);
            @media(max-width:900px) {
                @include foodPosition(95%);
            }
        }
    }
}