@import '../../../../../theme.scss';

@media screen and (max-width:900px){
    .summary-panel,
    .summary-checkout-panel{
        z-index:50;
        &.active{
            display: block;
        }
        right:0;
        display: none;
        top:50px;
        width:100%;
        .card-panel{
            background-color: #f7f7f7;
        }
    }
    .summary-checkout-panel{
        top:7%;
        position:absolute;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 900px){
    .summary-panel{
        font-size: 13px;
        width:20%;
        right:15%;
        top: 20%;
    }
}

.summary-panel{
    position: fixed;
    .card-panel{
        width:100%;
        padding:10px 25px;
        &.desactive{
            background-color: #d6d6d6;
        }
        .header-panel{
            display: flex;
            height: 40px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            background-color: $primary;
            color:white;
        }
        .body-panel{
            display:flex;
            justify-content: center;
            padding: 60px 0px;
            
        }
        .bottom-panel{
            display:flex;
            justify-content: center;
    
            .btn{
                &.desactive{
                    background-color: $desactive;
                }
                &:focus{
                    background-color: $primary;
                }
            }
        }
        h5{
            font-size: 1.20rem;
            text-align: center;
        }
        select{
            display:inline;
            width: 40px;
            height: 30px;    
        }
        .summary-detail{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            align-items: baseline;
            font-size: 12px;
            .product-detail{
                padding-left:10px;
                flex-grow: 1;
               
              }
              .product-price{
                margin-right: 20px;
                a{
                    margin-top: 3px;
                    margin-left: 8px;
                    position: absolute;
                    color: $primary
                }
              }
        }
        .total-details{
            section{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
            }
    
        }
        
    }
    
}
