@import '../../theme.scss';
    
.btn.primary{
    background-color: $primary;
    &:hover{
        background-color: $primary;
        transition:0.4s;
    }
}
nav.header-nav{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(0,0,0,0);
    margin-top:10px;
    padding: 0 10%;
    a{
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    box-shadow: none;
    .order-btn{
        background-color: $primary;
        width: 100px;
        text-align: center;
        .cant-added{
            position: absolute;
            padding-top: 15px;
            padding-right: 39px;
            font-size: 15px;
            font-weight: 400;
        
        }
    }

    li{
        width: 100px;
        text-align: center;
    }
    
}



@media only screen and (max-width: 992px){
    nav.header-nav{
        position:fixed;
        z-index: 99;
        margin-top:0;
        background-color: $primary;
        .nav-wrapper{
            #nav-mobile{
                height:100%;
                .order-btn{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    
                
                    a{  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                
                 
                }
            }
        }
        i{
            &.material-icons{
                display:inline;
            }
        }
        #menu-icon{
            display: inline-block !important;
            margin-top:8px;
            cursor: pointer;
        }
        .bar1, .bar2, .bar3 {
            width: 25px;
            height: 4px;
            background-color: white;
            margin: 6px 0;
            transition: 0.4s;
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        
        .change .bar2 {opacity: 0;}
        
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -5px);
        }
        #navBody{
            display: flex !important;
            justify-content: center;
            background-color:#000000de;
            position: fixed;
            left:0;
            width: 100%;
            height: 0px;
            transition: 0.5s;
            ul{   
                margin-top: 100px;
                li{
                    .navBar-txt{
                        display:none;
                        color:  #ffffff;
                        transition: 1s;
                        cursor: pointer;
                    }
                    text-align: center;
                    float:none
                }
            }
           
        }
       
    }
   
}