@import '../../theme.scss';
.login-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background:black;
    height:100%;
    width:100%;
    hr{
        width:100%;
    }
    .card-panel{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:425px;
        height:65%;
        padding: 0px 25px;
        .header-panel{
            width: 100%;
            background-color: $primary;
            text-align: center;
            color:white;
        }
        .body-panel{
            display: flex;
            flex-direction: column;
            padding: 0px;
            width:100%;
            align-items: center;
            .field-container{
                height:100px;
            }
            form{
                width:75%
            }
            .forgot-password{
                margin: 15px 0;
                .primary-link{
                    font-size: 13px;
                }
            }
            .btn{
                margin-bottom: 10px
            }
            
        }
    }
    .google-btn{
        display: flex;
        width: 280px;
        height: 40px;
        background-color:white;
        padding:0;
        color: #757575;
        border: 1px solid #acacac;
        margin: 16px 0;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);        
        &:focus{
            background-color: white;
        }
        &:hover{
            background-color: white;
        }
        .google-icon{
            background: url('../../images/icon/btngoogle.svg');
            background-position-y: 50%;
            width: 45px;
            height: 38px;
            border-right: 1px solid $primary;
        }
        .btn-title{
            flex-grow: 1;
        }
    }
    .btn-login{
        width:100%;
        background-color: $primary
    }
}

@media screen and (max-width: 992px){
    .login-section{
        width: 90%; 
        margin: auto;
        height:115%;
        .card-panel{
            margin-top: 15%;
            width:100%;
            height: auto;
            justify-content: space-evenly;
            .space-between{
                height: 50px;
            }
            .body-panel{
                padding: 0px;
                width:100%;
                .field-container{
                    height:45px;
                }
                form{
                    width:100%;
                    input{
                        height:30px;
                    }
                }
            }
        }
        
    }
}